<footer  class="footer navbar-default navbar-fixed-bottom">
  <nav> 
      <span class="text-muted pull-left">Site by 
        <%= link_to 'fedetaglia', "http://www.federicotagliabue.com" %>
      </span>
      <span class="text-muted pull-left">|</span>
      <span class="text-muted pull-left"><%= link_to "Privacy",   'privacy'%></span>
  </nav>
</footer>