<div class="row">
  
  <div class="col-md-5 col-md-offset-1 social social-1">
    <h2>facebook</h2><span class="connect_social_1"><%= link_to "connect", user_omniauth_authorize_path(:facebook) %></span>
    <div class="photo-container">
      <% if @fb_photos %>
        <% @fb_photos.each do |photo| %>
          <img src=<%= photo['picture'] %> alt="photo['picture']">
          <img src=<%= photo['source'] %>  alt="photo['source']">
          <img src=<%= photo['images'][0]['source'] %>  alt="photo['images']">
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-5 social social-2">
    <h2>instagram</h2>
    <a href="/auth/instagram"><span class="side top">Authorize</span>
    <a href="/auth/instagram/test"><span class="side top">Authorize2</span>

    

    <div class="photo-container">
      
    </div>
  </div>

</div>

</script>